:root {
  --white-bkgrd: #f5f5f6;
  --dark-bkgrd: #7575a3;
  --main-bkgrd: #b3b3cc;
  --dark-display: #1a1a1a;
  --white: #fff;
  --border: #a6a6a6;
  --dark-shadow: #444;
  --light-shadow: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
}

h1 {
  text-align: center;
  color: var(--white);
}

#main {
  background-color: var(--main-bkgrd);
  border: 1px solid var(--border);
  width: 300px;
  margin: 0 auto;
}

#calculator {
  border-radius: 5px;
  width: 280px;
  font-size: 1rem;
  margin: 0 auto;
}

#display {
  background-color: var(--dark-display);
  border: 2px solid var(--border);
  text-align: right;
  color: var(--white);
  padding: 5px;
}

#key-wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, 60px);
  justify-content: center;
  margin: 15px 0;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-bkgrd);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 8px var(--dark-shadow);
  transition: none;
  cursor: pointer;
}

.single {
  width: 60px;
  height: 60px;
}

.double {
  width: 128px;
  height: 60px;
}

.key-clicked {
  transform: none;
}

.key:hover {
  background-color: var(--dark-bkgrd);
  color: var(--white);
}

@media only screen and (min-width: 480px) {
  h1 {
    margin-bottom: 0.5rem;
  }

  #main {
    width: 340px;
    margin: 20px auto;
    padding-top: 10px;
  }

  #calculator {
    width: 330px;
    font-size: 1.25rem;
    padding: 5px;
  }

  #display {
    margin: 0 5px;
  }

  #key-wrapper {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 68px);
    margin: 20px 0;
  }

  .key {
    box-shadow: 1px 1px 8px var(--dark-shadow);
    transition: all 0.05s ease;
  }

  .single {
    width: 68px;
    height: 68px;
  }

  .double {
    width: 146px;
    height: 68px;
  }

  .key-clicked {
    background-color: var(--dark-bkgrd);
    border: 2px solid var(--dark-bkgrd);
    box-shadow: 0 0 3px var(--light-shadow);
    color: var(--white);
    transform: scale(0.95);
  }
}
